[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
sqlalchemy = "*"
flask = "*"
flask-mysql = "*"
cryptography = "*"
mysql-connector-python = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask_restful = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"