.balance {
    width: 27rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    border-bottom: 1px solid #ccc;
}

.amount {
  display: inline-block;
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 2rem;
}

.currency {
  justify-content: center;
  display: inline-block;
  margin-top: 0.75rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.5rem;
}